structure/project/miscs/dechetParis.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="arrondissements">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="20" ref="arrondissement"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="arrondissement">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" type="xs:integer"/>
        <xs:element name="commune" type="xs:string"/>
        <xs:element name="annee" type="xs:integer"/>
        <xs:element name="population" type="xs:integer"/>
        <xs:element ref="tonnagesDechets"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tonnagesDechets">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="verre" type="xs:float"/>
        <xs:element name="vert" type="xs:float"/>
        <xs:element name="jaune" type="xs:float"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
